<div>
    <h1>Registration Form</h1>
    
        <label>First Name</label>
        <input type="text" #fNameRef/><br>
        <label>Last Name</label>
        <input type="text" #lNameRef/><br>
        <label>Username </label>
        <input type="text" #usernameRef/><br>
        <label>Password </label>
        <input type="password" #passwordRef/><br>
        <input type="button" value="submit" (click)="storeData(fNameRef, lNameRef, usernameRef, passwordRef)" />
        
    
    <br>
    <button type="button">Register</button><button type="reset">Reset</button>

</div>
